html {
    height: 100%;
}
body {
    min-height: 100%;
}

.landing-page {
    position: absolute;
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.guitarist {
    height: 20rem;
    width: 20rem;
    margin-bottom: 2rem;
}

.landing-button {
    height: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    font-weight: 500;
    font-family: 'Source Code Pro', monospace;
    background-color: #8FE3CF;
    margin-bottom: 1rem;
    color: #002B5B;
    font-size: medium;
    border: none;
    box-shadow: 5px 5px #54BAB9;

    &:active {
        transform: translateY(5px) translateX(5px);
        box-shadow: 3px 3px;
    }
}

.button-signup {
    align-self: center;
    margin-bottom: 1rem;
}

.button-signin {
    align-self: center;
}