.card-layout {
    padding: 1rem;
    background-color: white;
    font-family: 'Source Code Pro', monospace;

    .card-title {
        font-size: x-large;
    }

    .card-content {
        display: flex;
        flex-direction: column;
    }
}

